@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Poppins", serif;
    /* border: .1rem solid white; */
}

:root {
    --green-clr: #DFFE02;
    --gray-clr: #898989;
    --dark-blue-clr: #171C22;
}

.bg-green {
    background: var(--green-clr);
}

.bg-dark-blue {
    background: var(--dark-blue-clr);
}

.txt-green {
    color: var(--green-clr);
}

.txt-gray {
    color: var(--gray-clr)
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.navbar-logo {
    width: 8.5rem;
}

.mybtn {
    border: .1rem solid var(--green-clr) !important;
    padding: .5rem 1.6rem;
}

.mybtn:hover {
    background: transparent;
    color: var(--green-clr) !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    width: 2.2rem;
}

.nav-link{
    color: white;
}

.image-container{
    background: gold;
    width: 32rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image: url(images/G2.jpg);
}

.hero-section{
    min-height: 88vh;
}

h1{
    font-size: 4rem;
    font-family: "Merriweather Sans", serif;
}

p{
    font-size: .95rem;
}

.para{
    max-width: 500px;
}

.main-txt{
    letter-spacing: .2rem;
    font-size: .8rem;
}

.about-me{
    width: 35rem;
    margin: 0 auto;
}

.section-container{
    padding-block: 4rem;
}

.hover-card:hover{
    background: var(--green-clr);
}

.hover-card:hover *{
    color: black !important;
}

.mycard{
    width: 21rem;
    transition: transform .5s ease-in-out;
}

.mycard:hover{
    transform: scale(1.1);
}

.blog-card{
    width: 24rem;
}

form{
    width: 33rem;
}

.form-control{
    border: .1rem solid var(--gray-clr);
}

.form-control:focus{
    box-shadow: none;
    border: .1rem solid var(--gray-clr);
}

#floatingTextarea{
    resize: none;
    height: 20vh;
}

.line{
    background: rgba(255, 255, 255, 0.127);
    height: .1rem;
    width: 100%;
}






@media screen and (max-width: 680px){
    h1{
        font-size: 2.8rem;
    }

    .image-container{
        width: 20rem;
    }

    .hero-section{
        min-height: 72vh;
    }

    .about-me{
        width: 23rem;
    }

    form{
        width: 25rem;
    }

}